 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/public/javascripts/testerino"></script> -->
    <!-- <title>title</title> -->
  </head>
  <body>
  	<script>
  	
  		function a(){
  				let temp = {
	  				"contact":"je",
					"location": {
  						"address":"600 penn", 
  						"coord":{
  							"lat":1, 
  							"long":2
  						}
  					} 
				}
  			console.log('sjdgaidn')
  			$.post('userlocation/post',
  				{data:JSON.stringify(temp)}
  			)
  		}
  		function b(){
  			let temp = {
  				"location":{
  					"coord":{
  						"lat":1,
  						"long":2
  					}
  				}
  			}
  			$.post('foodbanklocation/list', {data:JSON.stringify(temp)}, (data)=>console.log(data))
  		}
  		function c(){
  			let temp = {
  				"id": "5a9c23de310e349030b48b1c"
  			}
  			$.post('foodbanklocation/del', {data:JSON.stringify(temp)})
  		}
  	</script>	
  	<button id="butt" onclick="a()">
  		post
  	</button>
  	<button id="butt2" onclick="b()">
  		get
  	</button>
  	<button onclick="c()">
  		del
  	</button>
  </body>
  <style>
  	#butt{
  		width:50%;
  		height:300px;
  	}
  	#butt2{
  		width: 50%;
  		height:300px;
  	}
  </style>
</html>
