 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="/public/javascripts/testerino"></script> -->
    <!-- <title>title</title> -->
  </head>
  <body>
  	<script>
  		let temp = {
	  				"contact":"je",
					"location": {
  						"address":"600 penn", 
  						"coord":{
  							"lat":1, 
  							"long":2
  						}
  					} 
				}
  		function a(){
  			console.log('sjdgaidn')
  			$.post('test/post',
  				{data:JSON.stringify(temp)}
  			)
  		}
  		function b(){
  			$.get('test/db', (data)=>console.log(data))
  		}
  	</script>	
  	<button id="butt" onclick="a()">
  		post
  	</button>
  	<button id="butt2" onclick="b()">
  		get
  	</button>
  </body>
  <style>
  	#butt{
  		width:50%;
  		height:300px;
  	}
  	#butt2{
  		width: 50%;
  		height:300px;
  	}
  </style>
</html>
